@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.calcDiv {
  display: flex;
  justify-content: center;
  align-content: center;
  justify-content: center;
  
}

.gridContainer {
  display: inline-grid;
  min-height: 65vh;
  min-width: 40vw;
  text-align: center;
  text-justify: center;
  
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
  text-justify: center;
  border-radius: 4px;
  border: 2px;
  border-color: black;
  border-width: 2px;
}

.item2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
  text-justify: center;
  border-radius: 4px;
  border: 2px;
  border-color: black;
  border-width: 2px;
  background-color: grey;
    
}

.item3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
  text-justify: center;
  border-color: black;
  border-style: solid;
}

.item4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  text-justify: center;
  
  border: 1px solid black;
}

.item5 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  text-justify: center;
  
  border: 1px solid black;
}

.item6 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: #80cbc4;
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.item7 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  text-align: center;
  text-justify: center;
}

.item8 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  text-align: center;
  text-justify: center;
}

.item9 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  text-align: center;
  justify-content: center;
}
